:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10141b;
  padding: 0;
  /* background-color: #f3ebeb; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-[#10141b];
}

.menu-text-style {
  @apply hover:text-red-500 whitespace-nowrap text-[16px];
}

.primary-font-size {
  @apply text-[16px];
}

.secondary-font-size {
  @apply text-[14px];
}

.bg-border {
  @apply bg-[#1e293b];
}

.header-primary-font-size {
  @apply text-[24px];
}
