*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark; */
  color: #080804;
  /* background-color: #10141b; */
  padding: 0;
  background-color: #f3ebeb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
