@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10141b;
  padding: 0;
  /* background-color: #f3ebeb; */
}

.bg-primary {
  @apply bg-[#10141b];
}

.menu-text-style {
  @apply text-white hover:text-red-500 whitespace-nowrap text-[23px];
}

.primary-font-size {
  @apply text-[23px];
}

.secondary-font-size {
  @apply text-[18px];
}

.bg-border {
  @apply bg-[#1e293b];
}
